network:
  version: 2

  ethernets:
    {{ interface }}:
      dhcp4: false

  bridges:
    br0:
      interfaces:
        - {{ interface }}
      addresses:
        - {{target_ip}}/24
      nameservers:
        addresses:
          - 10.0.0.1
        search: []
      routes:
        - to: default
          via: 10.0.0.1